@import '../_variables.scss';

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $border-color;
    border-radius: 0.5rem;
    padding: 0.2rem;


    &__title {
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    &__image {
        display: inline-block;
        margin: 0.2rem;
    }

    &__text {
        font-size: 0.9rem;
        line-height: 1.8;
        margin: 10px;
    }

    &__name {
        text-transform: capitalize;
        margin-bottom: 0.2rem;
    }

    &__customer {
        text-transform: uppercase;
        font-size: 0.8rem;
    }
}